{:paths   ["src"]
 :deps    {org.clojure/clojure             {:mvn/version "1.10.3"}
           codesmith/blocks-postgres       {:git/url "https://github.com/codesmith-gmbh/blocks-postgres.git"
                                            :sha     "1ab68c57a00141404ed190849eada6960542e130"}

           io.zonky.test/embedded-postgres {:mvn/version "1.2.10"}}
 :aliases {:dev  {:extra-paths ["dev"]}
           :test {:extra-paths ["test"]}}}
